{
    "mcradio": {
        "name" : "mcradio",
        "url" : "http://198.105.216.204:8022/"
    },
    "heartfm": {
        "name" : "Heart",
        "url" : "http://www.heart.co.uk/peterborough/on-air/player/"
    },
    "kissfm": {
        "name" : "Kiss FM",
        "url" : "http://radioplayer.kissfmuk.com/live/"
    },
	"kisstory": {
        "name" : "Kisstory",
        "url" : "http://kisstory.kissfmuk.com/live/"
    },
	"kissfresh": {
        "name" : "Kiss Fresh",
        "url" : "http://kissfresh.kissfmuk.com/live/"
    }
}
